<div class="sticky-overview-overlay" [ngClass]="{ inview: isOverviewActive }" (click)="toggleOverview(false)"></div>
<div nz-row [nzGutter]="24" class="ingo-newcamp-step" [formGroup]="campaignForm">
  <div nz-col nzSpan="18" [nzXl]="19">
    <nz-collapse nzGhost [nzAccordion]="false">
      <!-- Campaign Settings -->
      <nz-collapse-panel
        [nzHeader]="campaignSettings"
        [nzActive]="step === 0"
        [nzShowArrow]="false"
        (nzActiveChange)="setStep(0)"
      >
        <ingo-nc-campaign-settings
          [settingsForm]="campaignForm.controls.settings"
          (setStep)="setStep(1)"
        ></ingo-nc-campaign-settings>
      </nz-collapse-panel>

      <!-- Budget & Schedule Settings -->
      <nz-collapse-panel
        [nzHeader]="budgetSettings"
        [nzActive]="step === 1"
        [nzShowArrow]="false"
        (nzActiveChange)="setStep(1)"
        [nzDisabled]="campaignForm.controls.settings.status === 'INVALID'"
      >
        <ingo-facebook-budget-settings
          [budgetForm]="campaignForm.controls.budget"
          (setStep)="setStep(2)"
          *ngIf="step === 1"
        ></ingo-facebook-budget-settings>
      </nz-collapse-panel>

      <!-- Delivery Settings -->
      <nz-collapse-panel
        [nzHeader]="deliverySettings"
        [nzActive]="step === 2"
        [nzShowArrow]="false"
        (nzActiveChange)="setStep(2)"
        [nzDisabled]="campaignForm.controls.settings.status === 'INVALID'"
      >
        <ingo-nc-delivery-settings
          [deliverySettings]="campaignForm.controls.delivery"
          *ngIf="step === 2"
          (setStep)="setStep(3)"
        ></ingo-nc-delivery-settings>
      </nz-collapse-panel>

      <!-- Targeting Settings -->
      <nz-collapse-panel
        [nzHeader]="targeting"
        [nzActive]="step === 3"
        [nzShowArrow]="false"
        (nzActiveChange)="setStep(3)"
        [nzDisabled]="campaignForm.controls.settings.status === 'INVALID'"
      >
        <ingo-nc-targeting-settings
          [targetingForm]="campaignForm.controls.targeting"
          (setStep)="setStep(4)"
          *ngIf="step === 3"
        ></ingo-nc-targeting-settings>
      </nz-collapse-panel>

      <!--      Creatives Settings-->
      <nz-collapse-panel
        [nzHeader]="creatives"
        [nzActive]="step === 4"
        [nzShowArrow]="false"
        (nzActiveChange)="setStep(4)"
        [nzDisabled]="campaignForm.controls.settings.status === 'INVALID'"
      >
        <ingo-nc-creatives-settings [campaignCreatives]="campaignForm.controls.creatives" *ngIf="step === 4">
          <div complete>
            <nz-alert
              *ngIf="campaignForm.status === 'INVALID'"
              nzType="error"
              [nzMessage]="'The campaign can be created only once all the required fields have been filled out'"
              nzShowIcon
              class="mb-10"
            ></nz-alert>
            <button
              nz-button
              nzType="primary"
              class="btn-primary mr-10 mb-5"
              [disabled]="campaignForm.status === 'INVALID'"
              (click)="setCampaignStatusAndTriggerCampCreation(campaignStatusType.PAUSED)"
            >
              Create new campaign
            </button>
            <button
              nz-button
              nzType="primary"
              class="btn-primary mr-10 mb-5"
              [disabled]="campaignForm.status === 'INVALID'"
              (click)="setCampaignStatusAndTriggerCampCreation(campaignStatusType.ACTIVE)"
            >
              Create new campaign and publish
            </button>
          </div>
        </ingo-nc-creatives-settings>
      </nz-collapse-panel>

      <ng-template #campaignSettings>
        <div class="ant-card-head">
          <div class="ant-card-head-wrapper">
            <div class="ant-card-head-title">
              <h2>Set campaign properties</h2>
            </div>
            <div class="ant-card-extra">
              <span *ngIf="campaignForm.controls.settings.status === 'VALID'" class="newcamp-step-indicator step-done"
                ><i class="far fa-check"></i>
              </span>
              <span *ngIf="campaignForm.controls.settings.status === 'INVALID'" class="newcamp-step-indicator"
                ><i class="fas fa-exclamation-circle danger"></i
              ></span>
            </div>
          </div>
        </div>
      </ng-template>

      <ng-template #creatives>
        <div class="ant-card-head">
          <div class="ant-card-head-wrapper">
            <div class="ant-card-head-title">
              <h2>Creatives</h2>
            </div>
            <div class="ant-card-extra">
              <span *ngIf="campaignForm.controls.creatives.status === 'VALID'" class="newcamp-step-indicator step-done"
                ><i class="far fa-check"></i>
              </span>
              <span *ngIf="campaignForm.controls.creatives.status === 'INVALID'" class="newcamp-step-indicator"
                ><i class="fas fa-exclamation-circle danger"></i
              ></span>
            </div>
          </div>
        </div>
      </ng-template>

      <ng-template #targeting>
        <div class="ant-card-head">
          <div class="ant-card-head-wrapper">
            <div class="ant-card-head-title">
              <h2>Define your audience</h2>
            </div>
            <div class="ant-card-extra">
              <span *ngIf="campaignForm.controls.targeting.status === 'VALID'" class="newcamp-step-indicator step-done"
                ><i class="far fa-check"></i>
              </span>
              <span *ngIf="campaignForm.controls.targeting.status === 'INVALID'" class="newcamp-step-indicator"
                ><i class="fas fa-exclamation-circle danger"></i
              ></span>
            </div>
          </div>
        </div>
      </ng-template>

      <ng-template #budgetSettings>
        <div class="ant-card-head">
          <div class="ant-card-head-wrapper">
            <div class="ant-card-head-title">
              <h2>Budget & Schedule Settings</h2>
            </div>
            <div class="ant-card-extra">
              <span
                *ngIf="campaignForm.controls.budget.status === 'VALID' && !campaignForm.errors?.minBudget"
                class="newcamp-step-indicator step-done"
                ><i class="far fa-check"></i>
              </span>
              <span
                *ngIf="campaignForm.controls.budget.status === 'INVALID' || campaignForm.errors?.minBudget"
                class="newcamp-step-indicator"
                ><i class="fas fa-exclamation-circle danger"></i
              ></span>
            </div>
          </div>
        </div>
      </ng-template>

      <ng-template #deliverySettings>
        <div class="ant-card-head">
          <div class="ant-card-head-wrapper">
            <div class="ant-card-head-title">
              <h2>Delivery & Optimization</h2>
            </div>
            <div class="ant-card-extra">
              <span *ngIf="campaignForm.controls.delivery.status === 'VALID'" class="newcamp-step-indicator step-done"
                ><i class="far fa-check"></i>
              </span>
              <span *ngIf="campaignForm.controls.delivery.status === 'INVALID'" class="newcamp-step-indicator"
                ><i class="fas fa-exclamation-circle danger"></i
              ></span>
            </div>
          </div>
        </div>
      </ng-template>
    </nz-collapse>
  </div>

  <ng-template #overviewSectionArrow>
    <div class="nc-ov-collapse-icon"><i class="fas fa-angle-down"></i></div>
  </ng-template>

  <div
    nz-col
    nzSpan="6"
    [nzXl]="5"
    class="sticky-overview"
    [ngClass]="{ inview: isOverviewActive }"
    (click)="toggleOverview(true)"
  >
    <ingo-campaign-overview
      [campaignForm]="campaignForm"
      [stepFunc]="step"
      (collapseStep)="step = $event"
    ></ingo-campaign-overview>
  </div>
</div>
