<div class="container-fluid py-4" style.height="100vh;">
  <app-data-table
    *ngIf="tableData | async; else skeleton"
    [tableConfiguration]="tableConfiguration"
    [state]="tableState | async"
    [tableData]="tableData | async"
    (stateChange)="onTableStateChange($event)"
  ></app-data-table>
  <app-data-table-templates [state]="tableState | async"></app-data-table-templates>
</div>

<ng-template #searchTermTemplateAndSelect let-column="column" let-value="value" let-row="row">
  <a class="selectable-table-item-wrap">
    <span
      class="selectable-table-item"
      (click)="selectAudience(row)"
      ingoHighlight
      [searchedWords]="(tableState | async).searchTerm"
      [text]="value"
      nz-tooltip
      [nzTooltipTitle]="audienceNameTooltip"
      nzTooltipPlacement="bottom"
      nzTooltipOverlayClassName="ingo-explain-card campaign-name-tooltip"
      nzTooltipColor="#5f63f2"
      classToApply="ingo-highlight"
    ></span>
  </a>
  <ng-template #audienceNameTooltip>
    {{ value }}
    <span (click)="selectAudience(row, true)">Preview Audience</span>
  </ng-template>
</ng-template>

<ng-template #skeleton>
  <app-data-table-skeleton [columns]="tableConfiguration.columns"></app-data-table-skeleton>
</ng-template>
