<div nz-row [nzGutter]="24" class="ingo-add-edit-form">
  <div nz-col [nzSpan]="12" [nzXXl]="12">
    <form nz-form class="selected-post-preview-container">
      <nz-form-item>
        <nz-form-control>
          <ingo-ad-preview-placement
            [formControl]="adSetFormat"
            [adSetFormat]="adSetFormat.value"
            [instagramAccountControl]="instagramAccountControl"
            (placementPreview)="placementPreview($event)"
          ></ingo-ad-preview-placement>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
  <div nz-col [nzSpan]="12" [nzXXl]="12">
    <nz-form-item>
      <nz-form-label>
        <ng-container *ngIf="!activePlacement; else adPreviewTitle">Ad Preview</ng-container>
        <ingo-explain tooltipId="app.campCreate.creative.preview"></ingo-explain>
      </nz-form-label>
      <nz-form-control>
        <ng-container *ngIf="existingPostForm.status === 'VALID'; then carousel; else nothing"></ng-container>
      </nz-form-control>
    </nz-form-item>
  </div>

  <ng-template #adPreviewTitle>Preview Ad on {{ activePlacement }}</ng-template>

  <ng-template #carousel>
    <nz-form-item class="ingo-tabs-view ingo-devices-preview">
      <nz-form-control>
        <nz-tabset
          nzType="card"
          (nzSelectedIndexChange)="previewDevice($event)"
          [nzSelectedIndex]="isMobile === 'desktop' ? 0 : 1"
        >
          <nz-tab nzTitle="Desktop" [nzDisabled]="previewType.desktop == false">
            <ingo-preview-iframe-ad-template
              *ngIf="isMobile === 'desktop'"
              [adTemplateDto]="existingPostForm.value"
            ></ingo-preview-iframe-ad-template>
          </nz-tab>
          <nz-tab nzTitle="Mobile" [nzDisabled]="previewType.mobile == false">
            <ingo-preview-iframe-ad-template
              *ngIf="isMobile === 'mobile'"
              [adTemplateDto]="existingPostForm.value"
            ></ingo-preview-iframe-ad-template>
          </nz-tab>
        </nz-tabset>
      </nz-form-control>
    </nz-form-item>
  </ng-template>
  <ng-template #nothing>
    <ingo-ad-template-skeleton></ingo-ad-template-skeleton>
  </ng-template>
</div>
