<div class="onboarding-form-wrapper mx-auto">
  <div class="auth-container login" *ngIf="isSent">
    <h1>
      {{ 'app.sendResetPassword.successTitle' | translate }}
    </h1>
    <h6>{{ 'app.sendResetPassword.successMessage' | translate }}</h6>
  </div>
  <div class="auth-container login" *ngIf="!isSent">
    <h1>
      {{ 'app.sendResetPassword.sendResetPassword' | translate }}
    </h1>
    <h6>{{ 'app.sendResetPassword.advice' | translate }}</h6>
    <form [formGroup]="sendEmailForm" (ngSubmit)="submitForm()">
      <div class="form-label-group">
        <input
          formControlName="email"
          type="text"
          id="inputEmail"
          class="form-control shadow-sm"
          placeholder="{{ 'app.sendResetPassword.email' | translate }}"
          required
        />
        <i class="ng-fa-icon far fa-at fa-lg fa-fw"></i>
        <label for="inputEmail"> {{ 'app.sendResetPassword.email' | translate }} </label>
      </div>

      <button class="btn btn-lg btn-block btn-square shadow-sm custom-submit-btn" type="submit">
        {{ 'app.sendResetPassword.sendEmail' | translate }}
      </button>
    </form>
  </div>
</div>
