.ingo-explain-card .ant-tooltip-inner {
  border-radius: 4px;
  line-height: 1.4rem;
  padding: 8px 15px;
}

.upload-progress-wrapper {
  .check-wrapper {
    // position: absolute;
    opacity: 0;
    transform: scale(0.6) rotate(3deg);
    transition: transform 0.15s ease-in-out, opacity 0.15s ease-in;

    .check {
      fill: none;
      stroke: #20c997;
      stroke-dasharray: 100 0;
      stroke-dashoffset: 100;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: 10;
      width: 100px;
    }
  }

  &.done {
    .check-wrapper {
      opacity: 1;
      transform: scale(0.7) rotate(0deg);
      transition: transform 0.5s ease-in-out 0.3s, opacity 0.5s ease-in 0.3s;

      .check {
        animation: check-animate 0.5s ease-in-out 0.3s forwards;
        animation: check-animate 0.5s ease-in-out 0.3s forwards;
      }
    }
  }
  // span {
  //   animation-name: blinker;
  //   animation-duration: 1s;
  //   animation-timing-function: linear;
  //   animation-iteration-count: infinite;
  // }
}

@keyframes blinker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes check-animate {
  0% {
    stroke-dasharray: 0 100;
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dasharray: 100 0;
    stroke-dashoffset: 100;
  }
}

.select-help-tooltip {
  font-size: 12px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
