<app-data-table
  *ngIf="tableData; else skeleton"
  [tableConfiguration]="tableConfiguration"
  [state]="tableState"
  [tableData]="tableData"
  (stateChange)="onTableStateChange($event)"
></app-data-table>

<app-data-table-templates [state]="tableState"></app-data-table-templates>

<ng-template #searchTermTemplateAndSelect let-column="column" let-value="value" let-row="row">
  <a
    class="selectable-table-item"
    ingoHighlight
    [routerLink]="['/campaign-details', row.id]"
    [queryParams]="{ provider: row.provider }"
    [searchedWords]="tableState.searchTerm"
    [text]="value.length > 32 ? (value | slice: 0:32) + '...' : value"
    nz-tooltip
    [nzTooltipTitle]="value"
    nzTooltipPlacement="bottom"
    nzTooltipOverlayClassName="ingo-explain-card campaign-name-tooltip"
    nzTooltipColor="#5f63f2"
    classToApply="ingo-highlight"
  ></a>
  <a
    class="view-campaign-icon"
    [routerLink]="['/campaign-details', row.id]"
    [queryParams]="{ provider: row.provider }"
    nz-tooltip
    nzTooltipTitle="View Campaign Analytics"
    nzTooltipOverlayClassName="ingo-explain-card"
    nzTooltipColor="#5f63f2"
  >
    <i class="fas fa-chart-bar"></i>
  </a>
</ng-template>

<ng-template #skeleton>
  <app-data-table-skeleton
    [columns]="tableConfiguration.columns"
    [isScroll]="tableConfiguration.scrollbarH"
    [isSelectable]="false"
  ></app-data-table-skeleton>
</ng-template>
