<div class="ingo-add-edit-form newcamp-type-options mb-0">
  <nz-form-item class="mb-5">
    <nz-form-label>Post Type</nz-form-label>
    <nz-form-control>
      <nz-button-group>
        <button
          nz-button
          nzType="default"
          class="btn-group-btn"
          [ngClass]="{ active: _value === postTypeOptions[0].id }"
          (click)="displayPostsSelection(postTypeOptions[0].id)"
        >
          Use Existing Posts
        </button>
        <nz-badge [nzCount]="comingSoonIcon">
          <button
            nz-button
            nzType="light"
            class="ant-btn-light"
            [disabled]="true"
            [ngClass]="{ active: _value === postTypeOptions[1].id }"
          >
            Create New Post
          </button>
        </nz-badge>
        <ng-template #comingSoonIcon>
          <div class="coming-soon-btn" nz-tooltip [nzTooltipTitle]="'Coming Soon'" [nzTooltipColor]="'#5f63f2'">
            <i class="fas fa-info-circle"></i>
          </div>
        </ng-template>
      </nz-button-group>
    </nz-form-control>
  </nz-form-item>
</div>
