<nz-card class="account-form ingo-table-card" [nzTitle]="adAccountsCardHeading">
  <app-data-table
    #workspaceAdaccounts
    [tableConfiguration]="tableConfiguration"
    [tableData]="tableData"
    [state]="tableState"
  ></app-data-table>
</nz-card>
<app-data-table-templates [state]="tableState"></app-data-table-templates>

<ng-template #adAccountsCardHeading>
  <div class="card-table-header">
    Connected Accounts
    <div class="table-search">
      <a nz-tooltip [nzTooltipTitle]="'Search'" [nzTooltipColor]="'#5f63f2'" (click)="toggleSearch()">
        <i class="far fa-search"></i>
      </a>
      <nz-input-group [nzSuffix]="suffixIconSearch" [ngClass]="{ 'search-open': isSearchOpen$ | async }">
        <input
          type="text"
          #searchTerm
          nz-input
          placeholder="Search Accounts"
          (keyup)="searchTerm$.next(searchTerm.value)"
        />
      </nz-input-group>
      <ng-template #suffixIconSearch> </ng-template>
    </div>
  </div>
</ng-template>

<ng-template #deleteAdAccountActionTemplate let-row="row">
  <button
    nz-button
    nzType="primary"
    class="btn-danger btn-clear btn-small"
    nz-tooltip
    nzTooltipTitle="Disconnect Ad Account"
    nzTooltipOverlayClassName="ingo-explain-card"
    nzTooltipColor="#5f63f2"
    nz-popconfirm
    nzPopconfirmOverlayClassName="ingo-popconfirm"
    [nzPopconfirmTitle]="confirmTitle"
    nzPopconfirmPlacement="left"
    (nzOnConfirm)="deleteAdAccount(row)"
  >
    <i class="ng-fa-icon fal fa-trash-alt fa-1x"></i>
  </button>
</ng-template>
<ng-template #confirmTitle>
  <div class="ingo-popconfirm-content">
    <i class="fad fa-siren-on"></i>
    <h2>Disconnect Account</h2>
    <span
      >This ad account will be removed from this workspace. All relevant assets, including ad-templates and
      locally-created targetings (excluding custom audiences) will be lost.</span
    >
  </div>
</ng-template>
