<nz-card
  [nzTitle]="'app.campDetails.campTable.campAdSets' | translate"
  class="ingo-table-card ingo-table-capital"
  [formGroup]="adSetsEditForm"
>
  <ng-container *ngIf="allAdSets$ | async as adSets; else skeleton">
    <ng-container *ngIf="adSets.length > 0; else empty">
      <!-- TODO place option to change attribution window -->
      <nz-table
        #adSetsTable
        nzBordered
        [nzData]="adSets"
        nzTableLayout="fixed"
        [nzOuterBordered]="false"
        [nzScroll]="{ x: '100%' }"
        [nzShowPagination]="false"
      >
        <thead>
          <tr>
            <th *ngFor="let column of adSetsTableConfig" [nzWidth]="column.width + 'px'">{{ column.label }}</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let data of adSetsTable.data">
            <tr>
              <ng-container *ngFor="let column of adSetsTableConfig">
                <td *ngIf="!column.firstCol; else firstColumn">
                  <ng-container
                    [ngTemplateOutlet]="column.type === 'status' ? printStatus : printCell"
                    [ngTemplateOutletContext]="{
                      column: column,
                      item: data,
                      type: 'ad_sets',
                      value: data[column.prop]
                    }"
                  ></ng-container>
                </td>
                <ng-template #firstColumn>
                  <td [nzShowExpand]="data.childAds" [(nzExpand)]="data.expandRow" nzEllipsis>
                    <ng-container
                      [ngTemplateOutlet]="column.type === 'status' ? printStatus : printCell"
                      [ngTemplateOutletContext]="{ column: column, value: data[column.prop], item: data }"
                    ></ng-container>
                  </td>
                </ng-template>
              </ng-container>
            </tr>
            <ng-container *ngFor="let ad of data.childAds">
              <tr *ngIf="data.expandRow">
                <td
                  [nzEllipsis]="i === 0"
                  *ngFor="let column of adSetsTableConfig; let i = index"
                  [nzIndentSize]="column.firstCol ? 20 : false"
                >
                  <i
                    class="fad fa-eye camp-details-popover-icon"
                    [nzPopoverTitle]="'app.campDetails.campTable.campAdSets' | translate"
                    [nzPopoverContent]="previewAdPopover"
                    [nzPopoverTrigger]="'click'"
                    nzPopoverPlacement="bottom"
                    nzPopoverOverlayClassName="camp-details-popover"
                    nz-popover
                    *ngIf="i === 0 && (ad.objectStoryId != null || ad.instagramPermalink != null)"
                  ></i>
                  <ng-template #previewAdPopover>
                    <a
                      *ngIf="ad.objectStoryId != null"
                      [href]="previewFacebookCreative(ad.objectStoryId)"
                      target="_blank"
                    >
                      <button nz-button nzType="primary" class="btn-primary btn-clear">
                        <i class="fab fa-facebook-f fa-fw"></i>Facebook
                      </button>
                    </a>
                    <a *ngIf="ad.instagramPermalink != null" [href]="ad.instagramPermalink" target="_blank">
                      <button nz-button nzType="primary" class="btn-primary btn-clear">
                        <i class="fab fa-instagram fa-fw"></i>Instagram
                      </button>
                    </a>
                  </ng-template>
                  <ng-container
                    [ngTemplateOutlet]="column.type === 'status' ? printStatus : printCell"
                    [ngTemplateOutletContext]="{ column: column, item: ad, type: 'ads', value: ad[column.prop] }"
                  >
                  </ng-container>

                  <i
                    *ngIf="i === 0 && ad.objectStorySpec != null"
                    (click)="openAdTemplateModal(ad)"
                    class="edit-btn fas fa-pencil-alt"
                    nz-tooltip
                    [nzTooltipTitle]="'app.campDetails.campUpdate.editField' | translate"
                    nzTooltipOverlayClassName="ingo-explain-card"
                    nzTooltipColor="#5f63f2"
                  ></i>
                </td>
              </tr>
            </ng-container>
          </ng-container>
        </tbody>
      </nz-table>
    </ng-container>
  </ng-container>

  <ng-template #printCell let-column="column" let-value="value" let-item="item">
    <ng-container
      *ngIf="column.type === 'status'"
      [ngTemplateOutlet]="printStatus"
      [ngTemplateOutletContext]="{ status: value }"
    ></ng-container>
    <ng-container
      *ngIf="column.type === 'currency'"
      [ngTemplateOutlet]="printCurrency"
      [ngTemplateOutletContext]="{
        value: value,
        budget: item.budgetType,
        isBudget: column.prop == 'budget',
        id: item.id
      }"
    ></ng-container>
    <ng-container
      *ngIf="column.type === 'percentage'"
      [ngTemplateOutlet]="printPercentage"
      [ngTemplateOutletContext]="{ value: value }"
    ></ng-container>
    <ng-container
      *ngIf="column.type === 'number'"
      [ngTemplateOutlet]="printNumber"
      [ngTemplateOutletContext]="{ value: value }"
    ></ng-container>
    <ng-container
      *ngIf="!column.type"
      [ngTemplateOutlet]="column.truncate ? truncatedCell : regularCell"
      [ngTemplateOutletContext]="{ value: value, truncate: column.truncate, id: item.id, canEdit: item.childAds }"
    ></ng-container>
  </ng-template>

  <ng-template #printStatus let-value="value" let-item="item" let-type="type">
    <nz-switch
      nzSize="small"
      [ngModel]="value === 'ACTIVE'"
      [ngModelOptions]="{ standalone: true }"
      [nzLoading]="item?.loading"
      (click)="changeStatus(item, type)"
      [nzControl]="true"
    ></nz-switch>
  </ng-template>

  <ng-template #printCurrency let-value="value" let-budgetType="budgetType" let-isBudget="isBudget" let-id="id">
    <ng-container *ngIf="isBudget; else printRegCell">
      <i
        *ngIf="value !== 'CBO' && !editableFields[id + '-budget']; else printCbo"
        (click)="toggleEdit(id, 'budget')"
        class="edit-btn fas fa-pencil-alt"
        nz-tooltip
        [nzTooltipTitle]="'app.campDetails.campUpdate.editField' | translate"
        nzTooltipOverlayClassName="ingo-explain-card"
        nzTooltipColor="#5f63f2"
      ></i>
      <ng-container *ngIf="editableFields[id + '-budget']; else printRegCell">
        <input
          [formControlName]="id + '-budget'"
          nz-tooltip
          [nzTooltipTitle]="
            'The minimum ' + budgetType + ' budget for this campaign is ' + currencyInfo.Symbol + minBudget
          "
          [nzTooltipTrigger]="isUnderMinBudget && editableFields[id + '-budget'] ? 'focus' : null"
          [nzTooltipVisible]="isUnderMinBudget && editableFields[id + '-budget']"
          [nzTooltipMouseEnterDelay]="2"
          nzTooltipOverlayClassName="ingo-explain-card"
          nzTooltipColor="#f5325b"
          nz-input
          autofocus
          nzBorderless
          currencyMask
          (keyup.enter)="submitEdit(id, 'budget')"
          [placeholder]="value | currency: currencyCode"
          [ngClass]="{ active: editableFields[id + '-budget'] }"
          [options]="{
            align: 'left',
            allowNegative: false,
            allowZero: true,
            decimal: '.',
            precision: 2,
            prefix: currencyInfo.Symbol + '',
            suffix: '',
            thousands: ',',
            nullable: true,
            min: 0,
            max: currencyInfo.SubunitLimit
          }"
        />
        <i
          [ngClass]="{ disabled: isUnderMinBudget }"
          (click)="!isUnderMinBudget ? submitEdit(id, 'budget') : null"
          class="edit-btn fas fa-check"
          nz-tooltip
          [nzTooltipTitle]="'app.campDetails.campUpdate.saveEdit' | translate"
          [nzTooltipTrigger]="!isUnderMinBudget ? 'hover' : null"
          nzTooltipOverlayClassName="ingo-explain-card"
          nzTooltipColor="#5f63f2"
        ></i>
      </ng-container>
    </ng-container>

    <ng-template #printRegCell>
      {{
        (value | isNumber)
          ? (value | currency: currencyCode:'symbol')
          : (value | isString) && value.length > 0
          ? value
          : '-'
      }}
    </ng-template>

    <ng-template #printCbo>
      <div
        class="ingo-explain"
        nz-tooltip
        [nzTooltipTitle]="'app.campDetails.campTable.optimizationBudget' | translate"
        nzTooltipOverlayClassName="ingo-explain-card"
        nzTooltipColor="#5f63f2"
        *ngIf="value === 'CBO'"
      >
        <i class="fas fa-info-circle"></i>
      </div>
    </ng-template>
  </ng-template>

  <ng-template #printPercentage let-row="row" let-column="column" let-value="value">
    {{ (value | isNumber) ? (value | number: '1.0-2') + ' %' : '-' }}
  </ng-template>

  <ng-template #printNumber let-row="row" let-column="column" let-value="value">
    {{ (value | isNumber) ? (value | number: '1.0-2') : '-' }}
  </ng-template>

  <ng-template #truncatedCell let-value="value" let-truncate="truncate" let-id="id" let-canEdit="canEdit">
    <ng-container *ngIf="editableFields[id + '-name'] && canEdit; else printName">
      <input
        [formControlName]="id + '-name'"
        nz-input
        autofocus
        nzBorderless
        (keyup.enter)="submitEdit(id, 'name')"
        [placeholder]="value"
        [ngClass]="{ active: editableFields[id + '-name'] }"
      />
      <i
        (click)="submitEdit(id, 'name')"
        class="edit-btn fas fa-check"
        nz-tooltip
        [nzTooltipTitle]="'app.campDetails.campUpdate.saveEdit' | translate"
        nzTooltipOverlayClassName="ingo-explain-card"
        nzTooltipColor="#5f63f2"
      ></i>
    </ng-container>
    <ng-template #printName>
      <span nzTooltipTitle="{{ value }}" nzTooltipPlacement="right" nz-tooltip>
        {{ value.length > truncate ? (value | slice: 0:truncate) + '...' : value }}
      </span>
      <i
        *ngIf="canEdit"
        (click)="toggleEdit(id, 'name')"
        class="edit-btn fas fa-pencil-alt"
        nz-tooltip
        [nzTooltipTitle]="'app.campDetails.campUpdate.editField' | translate"
        nzTooltipOverlayClassName="ingo-explain-card"
        nzTooltipColor="#5f63f2"
      ></i>
    </ng-template>
  </ng-template>

  <ng-template #regularCell let-value="value">
    {{ value }}
  </ng-template>

  <ng-template #empty>
    <app-empty-range></app-empty-range>
  </ng-template>

  <ng-template #skeleton>
    <nz-skeleton [nzActive]="true" [nzParagraph]="{ rows: 4 }" [nzTitle]="false" style="padding: 25px"></nz-skeleton>
  </ng-template>
</nz-card>
