<div class="no-data-container">
  <h3 class="no-data-text" nz-typography>
    <div *ngIf="(noFoundAudiencesCount$ | async) > 3">
      Our algorithm matches your keywords with Facebook targeting options to assemble relevant audiences. <br />
      Please refine your query while applying multiple relevant keywords.
    </div>
    💡 Tip: <br />
    Try using multiple search terms which are affiliated with: Brands, Softwares, Hardwares, Professions, Marketplaces
    etc, that are relevant for your desired audience. <br />
    You can use our suggestions dropdown to further focus your search.
  </h3>
</div>
