<div class="onboarding-form-wrapper mx-auto">
  <div class="auth-container">
    <h1>
      {{ 'app.resetPassword.resetPassword' | translate }}
    </h1>

    <form [formGroup]="resetPasswordForm" (ngSubmit)="submitForm()">
      <div class="form-label-group">
        <input
          #inputPassword
          formControlName="password"
          type="password"
          id="inputPassword"
          class="form-control shadow-sm"
          placeholder="{{ 'app.resetPassword.password' | translate }}"
          required
          autofocus
        />
        <span
          class="show-pwd-btn"
          (click)="inputPassword.type = inputPassword.type == 'password' ? 'text' : 'password'"
        >
          <i *ngIf="inputPassword.type == 'password'" class="ng-fa-icon far fa-fingerprint fa-lg fa-fw"></i>
          <i *ngIf="inputPassword.type == 'text'" class="ng-fa-icon far fa-eye fa-lg fa-fw"></i>
        </span>
        <label for="inputPassword"> {{ 'app.resetPassword.password' | translate }} </label>
      </div>

      <div
        class="errors-tooltips"
        *ngIf="
          resetPasswordForm.get('password').invalid &&
          resetPasswordForm.get('password').dirty &&
          resetPasswordForm.get('password').touched
        "
      >
        <div class="err-tooltip" *ngIf="resetPasswordForm.get('password').hasError('hasSmallCase')">
          <span>Must contain at least 1 Letter in Small Case!</span>
        </div>
        <div class="err-tooltip" *ngIf="resetPasswordForm.get('password').hasError('hasCapitalCase')">
          <span>Must contain at least 1 in Capital Case!</span>
        </div>
        <div class="err-tooltip" *ngIf="resetPasswordForm.get('password').hasError('hasNumber')">
          <span>Must contain at least 1 number!</span>
        </div>
        <div class="err-tooltip" *ngIf="resetPasswordForm.get('password').hasError('minlength')">
          <span>Must be at least 8 characters!</span>
        </div>
      </div>

      <div class="form-label-group">
        <input
          #inputRepeatPassword
          formControlName="repeatPassword"
          type="password"
          id="inputRepeatPassword"
          class="form-control shadow-sm"
          placeholder="{{ 'app.login.repeatPassword' | translate }}"
          required
        />
        <span
          class="show-pwd-btn"
          (click)="inputRepeatPassword.type = inputRepeatPassword.type == 'password' ? 'text' : 'password'"
        >
          <i *ngIf="inputRepeatPassword.type == 'password'" class="ng-fa-icon far fa-fingerprint fa-lg fa-fw"></i>
          <i *ngIf="inputRepeatPassword.type == 'text'" class="ng-fa-icon far fa-eye fa-lg fa-fw"></i>
        </span>
        <label for="inputRepeatPassword">{{ 'app.resetPassword.repeatPassword' | translate }}</label>
      </div>

      <div
        class="errors-tooltips"
        *ngIf="
          resetPasswordForm.get('repeatPassword').invalid &&
          resetPasswordForm.get('repeatPassword').dirty &&
          resetPasswordForm.get('repeatPassword').touched
        "
      >
        <div class="err-tooltip" *ngIf="resetPasswordForm.get('repeatPassword').hasError('equalTo')">
          <span>Passwords must match</span>
        </div>
      </div>

      <button class="btn btn-lg btn-block btn-square shadow-sm custom-submit-btn" type="submit">
        {{ 'app.resetPassword.resetPassword' | translate }}
      </button>
    </form>
  </div>
</div>
